#wrap-admin {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}
#header-admin {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
#header-admin-left {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
#header-admin-left img {
  width: 90px;
  height: 70px;
  object-fit: contain;
}
#sec-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#search-admin {
  width: 500px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 40px;
  padding: 15px 45px;
  outline: none;
  border: 1px solid #ccc;
}
#icon-admin {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.content-body {
  padding-top: 65px;
}

#sec-center ul {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  gap: 30px;
  margin: 0;
}

#sec-center ul li {
  font-weight: 600;
  cursor: pointer;
  padding: 20px;
}

#sec-center ul li:hover {
  color: #7c829a;
  border-bottom: 5px solid #fff;
  background-color: #ececec;
}
