.menu-dropdown {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  color: black;
}

.open .menu-dropdown {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
}

.menu-item.hover {
  background-color: lightgray;
}
